version: 2.1
orbs:
  # See the orb documentation here: https://circleci.com/developer/orbs/orb/circleci/python
  python: circleci/python@3.3.0

# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:
  build:
    docker:
      - image: cimg/python:3.12
    steps:
      - checkout
      - run:
          name: Install TeX Live and tools
          command: |
            sudo apt-get update
            sudo apt-get install -y \
              texlive texlive-xetex texlive-fonts-extra texlive-latex-extra \
              xindy latexmk librsvg2-bin

      - run:
          name: Install uv
          command: |
            curl -LsSf https://astral.sh/uv/install.sh | sh
            echo 'export PATH="$HOME/.local/bin:$PATH"' >> "$BASH_ENV"
            source "$BASH_ENV"
            uv --version

      - run:
          name: Set up Python
          command: uv python install

      - run:
          name: Install project dependencies
          command: uv sync --all-extras --dev

      - run:
          name: Build html
          command: make -C doc html

      - store_artifacts:
          path: doc/_build/html
          destination: html

      - run:
          name: Build pdf
          command: make -C doc latexpdf -e LATEXOPTS="-interaction=nonstopmode"

      - store_artifacts:
          path: doc/_build/latex/elabftw.pdf
          destination: pdf
workflows:
  mkdoc:
    jobs:
      - build
