version: 2.1
orbs:
  # See the orb documentation here: https://circleci.com/developer/orbs/orb/circleci/python
  python: circleci/python@3.3.0

# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:
  build:
    docker:
      - image: cimg/python:3.12
    steps:
      - checkout
      - run:
          name: Install texlive and rsvgconverter
          command: 'sudo apt update && sudo apt install -y texlive texlive-xetex texlive-fonts-extra texlive-latex-extra xindy latexmk'
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Set up Python
        run: uv python install
      - run:
          name: Build html
          command: cd doc && make html
      - store_artifacts:
          path: doc/_build/html
          destination: html
      - run:
          name: Build pdf
          command: cd doc && make latexpdf -e LATEXOPTS="-interaction=nonstopmode"
      - store_artifacts:
          path: doc/_build/latex/elabftw.pdf
          destination: pdf
workflows:
  mkdoc:
    jobs:
      - build
